body {
    background-color: #fff;
}
div.container {
    background-color: #fff;
    color: steelblue;
    font-weight: 500;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-bottom: 5px;
    margin-top: 10px;
}
nav.nav a {
    color: midnightblue;
}
nav.navbar {
    background-color: coral;
}
.navbar-default .navbar-brand {
    color: midnightblue;
}
a {
    color: midnightblue;
}
h2 {
    font-size: x-small;
    color: midnightblue;
}
div.mainPerson {
    margin: auto;
    text-align: center;
    display: inline-block;
}
div.mainPerson img {
    height: 100px;
    margin: 5px;
}
div.person{
    font-size: larger;
    font-family: Arial, sans-serif;
/*  border-radius: 100%;
    border: 1px solid black;*/
    display: inline-block;
    overflow: hidden;
}
div.person img {
    border: 1px solid black;
}
div.mainContent {
    margin: auto;
    text-align: center;
}
div.mainLevel {
    margin: auto;
    text-align: center;
    padding-top: 35px;
}
div.childSpace{
    margin: 3px;
    width: 19%;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    -moz-border-radius: 50px / 100px;
    -webkit-border-radius: 50px / 100px;
    border-radius: 50px / 100px;
}
div.child {
    max-height: 120px;
    margin-bottom: 15px;
    display: block;
    position: relative;
}
div.child img {
    height: 100%;
}
div.childSpouse {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 95px;
    text-align: right;
    margin-bottom: 15px;
}
div.childSpouse img {
    height: 100%;
}
div.grandchildSpace{
    border: 1px solid grey;
    background-color: transparent;
    width: 98%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 20%;
    margin-top:35px;
    margin-bottom: 15px;
    max-width: 45%;
    padding-bottom: 10px;
    padding-right: 5px;
    
}
div.grandchild img {
   max-height: 85px;
}
div.greatGrandchild {
    float: left;
    display: inline-block;
}

div.greatGrandchild img {
    height: 40px;
}
div.grandchildSpouse {

    padding-bottom: 15px;
    float: right;

}
div.grandchildSpouse img {
    height: 75px;
    
}
span.childLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
span.childSpouseLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
span.grandchildLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
span.greatGrandchildLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
.divName {
    color: purple;
    font-weight: 500;
}
.divBDay {
    font-size: .8em;
    font-style: italic;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/*callout styles*/
.callout {
    position: absolute;
    height: 150px;
    width: 250px;
    background-color: purple;
}
    .hidden {
 display: none;   
}
.fancybox-title a {
 color: #fff;        
}
body {
 padding: 20px;   
}