body {
    background-color: #fff;
    padding-top: 70px;
    margin-bottom: 60px;
}
@media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .business-header {
    height: 50vh;
    min-height: 300px;
    background: url("/images/teamAmerica.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  
  .card {
    height: 100%;
  }
  .bg-dark {
    background-color: steelblue!important;
}

div.minder-container {
    background-color:#fff;
    font-weight: 500;
    height: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}
div.edit-button {
    text-align: center;
    display: inline-block;
}
div.edit-button-panel {
}

table, th, td {
	border: 1px solid black;
/*	border-collapse: collapse; */
}

tr:nth-child(odd) {
	background-color: #fff;
}
.logo {
    color: brown;
}
nav.nav a {
    color: white;
}
.navbar-familyName {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
nav.navbar {
    background-color: steelblue;
    padding-right: 50px;
    padding-left: 50px;
}
.navbar-default .navbar-brand {
    color: white;
}
.familyName {
    background-color: darkgrey;
    float: left;
}
a {
    color: white;
}
h2 {
    font-size: x-small;
    color: white;
}
div.person{
    font-family: Arial, sans-serif;
    /*  border-radius: 100%;
    border: 1px solid black;*/
    display: inline-block;
/*    overflow: hidden;*/
    margin: auto;
}
div.person img {
    border: 1px solid black;
}
div.mainPerson {
    margin: auto;
    text-align: center;
    display: inline-block;
}
div.mainPerson img {
    height: 100px;
    margin: 5px;
}
/*
div.mainContent {
    margin: auto;
    text-align: center;
}
div.mainLevel {
    margin: auto;
    text-align: center;
    padding-top: 35px;
}
*/
div.childSpace{
    margin: 3px;
    width: 19%;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    -moz-border-radius: 50px / 100px;
    -webkit-border-radius: 50px / 100px;
    border-radius: 50px / 100px;
}
div.child {
/*
Doing this gets the spouse closer to the child
but doesn't allow for resizing when we add the edit
buttons in editMode

    max-height: 140px; 
    margin-bottom: 5px;
*/
    display: block;
    position: relative;
/*    height: 155px;*/
}
div.child img {
    height: 130px;
}
div.childSpouse {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    float: right;
    /* height: 150px; */
}
div.childSpouse img {
    height: 100px;
}
div.grandchildSpace{
    border: 1px solid coral;
    background-color: transparent;
    width: 98%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 45%;
    padding-bottom: 10px;
    padding-right: 5px;
}
div.grandchild img {
   max-height: 85px;
}
div.greatGrandchild {
    float: left;
    display: inline-block;
}

div.greatGrandchild img {
    height: 40px;
}
div.grandchildSpouse {
    padding-bottom: 15px;
    float: right;
}
div.grandchildSpouse img {
    height: 75px;
}
span.childLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
span.childSpouseLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
span.grandchildLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
span.greatGrandchildLabel {
    position: relative;
    display: block;
    font-size: .8em;
    font-style: italic;
}
.divName {
    color: purple;
    font-weight: 500;
    display: block;
}
.divBDay {
    font-size: .8em;
    font-style: italic;
}
.top-buffer {
    margin-top: 40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  margin-top: 50px;

}
.footer a {
    color: black;
}
/*callout styles*/
.callout {
    position: absolute;
    height: 150px;
    width: 250px;
    background-color: #fff;
}
.hidden {
 display: none;   
}
.fancybox-title a {
 color: #fff;        
}

/*bootstrap overrides
---------------------------------------------------*/
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-container {
    margin-right: auto;
    margin-left: auto;
}

.navbar-fixed-top {
    border: none;
}

.card-img-top {
    /* width: 100%; */
    height: 300px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
